@page
@model SupportHub.Pages.Equipo.mostrarEquiposModel
@{
    ViewData["Title"] = "Equipos";
    Layout = "_Layout";
}
<br />

<link rel="stylesheet" href="~/css/estiloEquipos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" />
<div class="content-wrapper" style="max-width: 1450px; border-radius: 20px;">
  <h1>Gestión de Equipos</h1>

  <div class="row mb-3">
      <div class="col-md-8">
          <form method="get">
                <div class="search-bar d-flex">
                  <input type="text" name="searchQuery" class="form-control me-2" placeholder="Buscar por código, tipo de equipo o marca de equipo..."
                         value="@Request.Query["searchQuery"]" oninput="checkSearch(this)" />
                  <button type="submit" class="btn"><i class="fas fa-search"></i>Buscar</button>
              </div>
          </form>
      </div>
      <div class="col-md-4 text-end">
          <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#AgregarModificar">
              <i class="fas fa-plus-circle"></i> Agregar Equipos
          </button> 
      </div>
  </div>
  <div class="contenedor-tabla">
      <table class="table table-hover align-middle text-center" style="max-width: 1500px; width: 100%;">
         <thead>
             <tr>
                 <th>Código</th>
                 <th>Tipo de Equipo</th>
                 <th>Marca de Equipo</th>
                 <th>Modelo de Equipo</th>
                 <th>Cantidad Adquirida</th>
                 <th>Cantidad Disponible</th>
                 <th>Precio de Equipo</th>
                 <th>Proveedor</th>
                 <th>Descripción</th>
                 <th>Acciones</th>
             </tr>
         </thead>
         <tbody>
             @foreach (var item in Model.listaEquipos)
                {
                    <tr data-codigo="@item.codEquipo" data-tipoEquipo="@item.tipoEquipo" data-marcaEquipo="@item.marcaEquipo" data-modeloEquipo="@item.modeloEquipo" >
                        <td align="left">@item.codEquipo</td>
                        <td align="left">@item.tipoEquipo</td>
                        <td align="left">@item.marcaEquipo</td>
                        <td align="left">@item.modeloEquipo</td>
                        <td align="left">@item.cantidadAdquirida</td>
                        <td align="left">@item.cantidadDisponible</td>
                        <td align="left">@item.precioEquipo</td>
                        <td align="left">@item.nombreproveedor</td>
                        <td align="left">@item.descripcionEquipo</td>
                        <td class="acciones">
                                <button class="btn btn-edit" onclick="llenarModal(this)" data-bs-toggle="modal" data-bs-target="#AgregarModificar">
                                 <i class="fas fa-pen"></i>Modificar
                                </button>
                                <button class="btn btn-delete" onclick="llenarModalElimminar(this)" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                    <i class="fas fa-trash"></i>Eliminar
                                </button>
                        </td>
                    </tr>
                }
         </tbody>
         </table>
      </div>

    <div id="pagination" class="pagination">
        <ul class="pagination-list"></ul>
    </div>
</div>

<div class="modal fade" id="AgregarModificar" tabindex="1" arial-labelledby="AgregarModificar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header encabezado-personalizado">
                <h1  class="modal-title fs-5" id="AgregarModificar">Agregar Equipo</h1>
                <button type="button" class="btn-close" onclick="limpiarModalEquipo()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/scriptEquipos.js"></script>

    <script type="text/javascript">
        // Verifica si la operación fue exitosa
        //validar que exito no sea nulo y que sea true, también que no se haya eliminado a nadie
        // para que no se confunda y no muestre el alert de Eliminado correctamente
        @if (TempData["exito"] != null && (bool)TempData["exito"] && TempData["eliminado"] != null && (bool)TempData["eliminado"] == false)
        {
            <text>
                Swal.fire({
                    title: "¡Excelente!",
                    text: "El proveedor ha sido guardado correctamente.",
                    icon: "success",
                    confirmButtonText: "OK"
                });
            </text>
            Model.exito = false;
        }
    </script>

    <script type="text/javascript">
            // Verifica si la operación fue exitosa
            //validar que exito no sea nulo y que sea falso, también que intentoRealizado no sea nulo y que sea verdadero
        @if (TempData["exito"] != null && (bool)TempData["exito"] == false && TempData["intentoRealizado"] != null && (bool)TempData["intentoRealizado"])
        {
            <text>
                Swal.fire({
                    title: "Oops...",
                    text: "Hubo un error al guardar el registro, valide que el código o el nombre del proveedor no exista.",
                    icon: "error",
                    confirmButtonText: "OK"
                });
            </text>
        }
    </script>

    <script type="text/javascript">
            // Verifica si la operación fue exitosa
            //validar que exito no sea nulo y que sea true, también que eliminado no sea nulo y que sea verdadero
        @if (TempData["exito"] != null && (bool)TempData["exito"] == true && TempData["eliminado"] != null && (bool)TempData["eliminado"])
        {
            <text>
                Swal.fire({
                    title: "¡Excelente!",
                    text: "El proveedor ha sido eliminado correctamente.",
                    icon: "success",
                    confirmButtonText: "OK"
                });
            </text>
        }
    </script>

    <script type="text/javascript">
        @{
            var errorMessage = ViewData["ErrorMessage"] as string;
        }

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <text>
                Swal.fire({
                    title: "Oops...",
                    text: @Html.Raw($"\"{errorMessage}\""),
                    icon: "error",
                    confirmButtonText: "OK"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirigir a la página Index
                        window.location.href = '../Index';
                    }
                });
            </text>
        }
    </script>