@page
@model SupportHub.Pages.Usuario.mi_informacionModel
@{
	ViewData["Title"] = "Mi información";
	Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/estiloPantallas.css">

<div class="container">

	<h1>MI INFORMACIÓN</h1> 
    <br />
	<table>
	<thead>
		<tr>
			<th>ID</th>
		     <th>USUARIO</th>
			 <th>NOMBRE</th>
			 <th>APELLIDO</th>
			 <th>EDITAR</th>
		</tr>
	</thead>
	<tbody>
			@foreach (var i in Model.Usuario)
			{
                <tr  data-usuario="@i.loginUsuario" data-id="@i.idUsuario" data-nombre="@i.nombreUsuario" data-apellido="@i.apellidoUsuario">
					<td>
						<label>@i.idUsuario</label>
					</td>
					<td>
						<label>@i.loginUsuario</label>
					</td>
					<td>
						<label>@i.nombreUsuario</label>
					</td>
					<td>
						<label>@i.apellidoUsuario</label>
					</td>
					<td>
                        <button onclick="ModalModificarUsuario(this)" type="button" class="btn btn-edit btnTexto" data-bs-toggle="modal" data-bs-target="#Modificar"><span class="texto-editar">INFO</span></button>
                        <button onclick="ModalModificarContraseña(this)" type="button" class="btn btn-edit btnClave" data-bs-toggle="modal" data-bs-target="#Modificar"><span class="texto-clave">CLAVE</span></button>
					</td>
				</tr>
			}
		</tbody>
</table>
</div>

    <!-- Modal para editar usuario -->
    <div class="modal fade" id="Modificar" tabindex="-1" aria-labelledby="Modificar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header encabezado-personalizado">
                    <h1 class="modal-title fs-5" id="Modificar">Modificar Usuario</h1>
                <button type="button" class="btn-close" onclick="limpiarModalMUsuario()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="ModificarinfoUsuario">
                        <!-- Campo de ID -->
                        <input type="hidden" id="id" name="id" />
                      
                        <!-- Campo de usuario -->
                        <div class="mb-3">
                            <label for="usuario">Usuario:</label>
                        <input type="text" required class="form-control" id="usuario" name="usuario">
                        </div>

                        <!-- Campo de Nombre -->
                        <div class="mb-3">
                            <label for="nombre">Nombre:</label>
                            <input type="text" required class="form-control" id="nombre" name="nombre">
                        </div>

                        <!-- Campo de apellido -->
                        <div class="mb-3">
                            <label for="apellido">Apellido:</label>
                            <input type="text" required class="form-control" id="apellido" name="apellido">
                        </div>

                         <!-- Campo de contraseña actual -->
                        <div class="mb-3">
                        <label for="contraA">Contraseña actual:</label>
                        <input type="password" required class="form-control" id="contraA" name="contraA">
                        </div>

                        <!-- Campo de Nueva contra -->
                        <div class="mb-3">
                            <label for="nContra">Nueva Contraseña:</label>
                        <input type="password" required class="form-control" id="nContra" name="nContra">
                        </div>

                    <!-- Campo de confirmar Nueva contra -->
                    <div class="mb-3">
                        <label for="CnContra">Confirmar Contraseña:</label>
                        <input type="password" required class="form-control" id="CnContra" name="CnContra">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="limpiarModalMUsuario()" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="validarIformacionUsuario()">Modificar</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script type="text/javascript">
                       
        function limpiarModalMUsuario() {
           
                $("#ModificarinfoUsuario")[0].reset();
        }
        sessionStorage.setItem("contra", '@HttpContext.Session.GetString("contra")');
         @if (TempData["exito"] != null && (bool)TempData["exito"])
        {
            <text>
                Swal.fire({
                title: "¡Excelente!",
                text: "Has hecho la modificación correctamente.",
                icon: "success",
                confirmButtonText: "OK"
                });
            </text>
            Model.exito = false;
        }                 
    </script>
}
