@page
@model SupportHub.Pages.Empleado.mostrarEmpleadosModel
@{
    ViewData["Title"] = "Empleados";
    Layout = "_Layout";

}
<br />


<link rel="stylesheet" href="~/css/estiloPantallas.css">

<div class="content-wrapper" style="max-width: 1400px; border-radius: 20px;">
    <h1>Gestión de Empleados</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <form method="get">
                <div class="search-bar d-flex">
                    <input type="text" name="searchQuery" class="form-control me-2" placeholder="Buscar por código, Nombre o Apellido de empleado."
                           value="@Request.Query["searchQuery"]" oninput="checkSearch(this)" />
                    <button type="submit" class="btn"><i class="fas fa-search"></i>Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#AgregarModificar">
                <i class="fas fa-plus-circle"></i>Agregar Empleados
            </button>
        </div>
    </div>

    <div>
        <table class="table table-hover align-middle text-center" style="max-width: 1500px; width: 100%;">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Cod Área</th>
                    <th>Área</th>
                    <th>Cod Cargo</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaEmpleado)
                {
                    <tr data-codigo="@item.codEmpleado" data-nombre="@item.nombreEmpleado" data-direccion="@item.apellidoEmpleado" data-telefono="@item.telefonoEmpleado" data-email="@item.emailEmpleado" data-codArea="@item.codArea" data-area="@item.nombreArea" data-codCargo="@item.codCargo" data-cargo="@item.nombreCargo" data-id="@item.idEmpleado">
                        <td align="left">@item.codEmpleado</td>
                        <td align="left">@item.nombreEmpleado</td>
                        <td align="left">@item.apellidoEmpleado</td>
                        <td align="left">@item.telefonoEmpleado</td>
                        <td align="left">@item.emailEmpleado</td>
                        <td align="left">@item.codArea</td>
                        <td align="left">@item.nombreArea</td>
                        <td align="left">@item.codCargo</td>
                        <td align="left">@item.nombreCargo</td>
                        <td class="actions">
                            <button class="btn btn-edit" onclick="llenarModal(this)" data-bs-toggle="modal" data-bs-target="#AgregarModificar">
                                <i class="fas fa-pen"></i>Modificar
                            </button>
                            <button class="btn btn-delete" onclick="llenarModalEliminar(this)" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                <i class="fas fa-trash"></i>Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para agregar un nuevo empleado -->
<div class="modal fade" id="AgregarModificar" tabindex="-1" aria-labelledby="AgregarModificar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header encabezado-personalizado">
                <h1 class="modal-title fs-5" id="AgregarModificar">Agregar Empleados</h1>
                <button type="button" class="btn-close" onclick="limpiarModalEmpleado()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="formAgregarEmpleado">
                    <!-- Campo de ID -->
                    <input type="hidden" id="id" name="id" value="" />

                    <!-- Campo de EsModificacion -->
              
                    <!-- Campo de Nombre -->
                    <div class="mb-3">
                        <label for="nombre">Nombre Empleado:</label>
                        <input type="text" required class="form-control" id="nombre" name="nombre">
                    </div>


                    <!-- Campo de Nombre -->
                    <div class="mb-3">
                        <label for="nombre">Apellido Empleado:</label>
                        <input type="text" required class="form-control" id="apellido" name="apellido">
                    </div>


                    <!-- Campo de Teléfono -->
                    <div class="mb-3">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" required class="form-control" id="telefono" name="telefono">
                    </div>

                    <!-- Campo de Correo -->
                    <div class="mb-3">
                        <label for="direccion">Email:</label>
                        <input type="email" required class="form-control" id="email" name="email">
                    </div>

                    <!-- Campo de Area -->
                    <div class="mb-3">
                        <label for="direccion">Nombre Area:</label>
                        <div class="col-sm-6">
                            <select class="form-select" id="area" name="area" asp-items="Model.Area">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="direccion">Nombre Cargo:</label>
                        <div class="col-sm-6">
                            <select class="form-select" id="area" name="cargo" asp-items="Model.Cargo">
                                <option value="">-- Seleccione --</option>
                            </select>
                        </div>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="limpiarModal()" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="validarFormularioEmpleado()">Guardar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        // Verifica si la operación fue exitosa
        //validar que exito no sea nulo y que sea true, también que no se haya eliminado a nadie
        // para que no se confunda y no muestre el alert de Eliminado correctamente
        @if (TempData["exito"] != null && (bool)TempData["exito"] && TempData["eliminado"] != null && (bool)TempData["eliminado"] == false)
        {
            <text>
                Swal.fire({
                    title: "¡Excelente!",
                    text: "El proveedor ha sido guardado correctamente.",
                    icon: "success",
                    confirmButtonText: "OK"
                });
            </text>
            Model.exito = false;
        }
    </script>

    <script type="text/javascript">
            // Verifica si la operación fue exitosa
            //validar que exito no sea nulo y que sea falso, también que intentoRealizado no sea nulo y que sea verdadero
        @if (TempData["exito"] != null && (bool)TempData["exito"] == false && TempData["intentoRealizado"] != null && (bool)TempData["intentoRealizado"])
        {
            <text>
                Swal.fire({
                    title: "Oops...",
                    text: "Hubo un error al guardar el registro, valide que el código o el nombre del proveedor no exista.",
                    icon: "error",
                    confirmButtonText: "OK"
                });
            </text>
        }
    </script>

    <script type="text/javascript">
            // Verifica si la operación fue exitosa
            //validar que exito no sea nulo y que sea true, también que eliminado no sea nulo y que sea verdadero
        @if (TempData["exito"] != null && (bool)TempData["exito"] == true && TempData["eliminado"] != null && (bool)TempData["eliminado"])
        {
            <text>
                Swal.fire({
                    title: "¡Excelente!",
                    text: "El proveedor ha sido eliminado correctamente.",
                    icon: "success",
                    confirmButtonText: "OK"
                });
            </text>
        }
    </script>

}