@page
@model SupportHub.Pages.Proveedor.AgregarProveedorModel
@{
    ViewData["Title"] = "Agregar Proveedores";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/estiloPantallas.css">
<div class="content-wrapper">
    <br />
    <h1>Agregar Proveedores</h1>
    <br />
    <!--Para manejo de errores-->
    @if (Model.mensajeError.Length > 0)
    {
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
            <strong>@Model.mensajeError</strong>
            <button type="button" class="btn-close" data-bs-dismiss='alert' arial-label='close'></button>
        </div>

    }

    <form method="post">

        <div class="row mb-3">
            <label class="col-sm-3" col-form-label>Código:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Codigo" value="@Model.newProveedor.codProveedor" />

            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3" col-form-label> Nombre:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="nombre" value="@Model.newProveedor.nombreProveedor" />

            </div>
        </div>


        <div class="row mb-3">
            <label class="col-sm-3" col-form-label> Dirección:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="direccion" value="@Model.newProveedor.direccionProveedor" />

            </div>
        </div>


        <div class="row mb-3">
            <label class="col-sm-3" col-form-label> Telefono:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="telefono" value="@Model.newProveedor.telefonoProveedor" />

            </div>
        </div>


        @if (Model.mensajeExito.Length > 0)
        {
              <div class="row mb-3">
                <div class="col-sm-9">
                    <div class='alert alert-success alert-dismissible fade show' role='alert'>
                        <strong>@Model.mensajeExito</strong>
                        <button type="button" class="btn-close" data-bs-dismiss='alert' arial-label='close'></button>
                    </div>
                </div>
            </div>
        }
        <div class="row mb-3">

            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" asp-page="/Proveedor/mostrarProveedor" role="button">Cancelar</a>

            </div>

        </div>



    </form>
</div>