@page
@model SupportHub.Pages.Proveedor.mostrarProveedorModel
@{
    ViewData["Title"] = "Proveedores";
    Layout = "_Layout";
}
<br />

<link rel="stylesheet" href="~/css/estiloPantallas.css">

<div class="content-wrapper" style="max-width: 1300px; border-radius: 20px;">
    <h1>Gestión de Proveedores</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <form method="get">
                <div class="search-bar d-flex">
                    <input type="text" name="searchQuery" class="form-control me-2" placeholder="Buscar por código o nombre de proveedor..."
                           value="@Request.Query["searchQuery"]" oninput="checkSearch(this)" />
                    <button type="submit" class="btn"><i class="fas fa-search"></i>Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#AgregarModificar">
                <i class="fas fa-plus-circle"></i> Agregar Proveedor
            </button>
        </div>
    </div>

    <div>
        <table class="table table-hover align-middle text-center" style="max-width: 1300px; width: 100%;">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaProveedores)
                {
                    <tr data-codigo="@item.codProveedor" data-nombre="@item.nombreProveedor" data-direccion="@item.direccionProveedor" data-telefono="@item.telefonoProveedor" data-id="@item.idProveedor">
                        <td align="left">@item.codProveedor</td>
                        <td align="left">@item.nombreProveedor</td>
                        <td align="left">@item.direccionProveedor</td>
                        <td align="left">@item.telefonoProveedor</td>
                        <td>
                            <button class="btn btn-edit" onclick="llenarModal(this)" data-bs-toggle="modal" data-bs-target="#AgregarModificar">
                                <i class="fas fa-pen"></i>Modificar
                            </button>
                            <button type="button" class="btn btn-delete" onclick="confirmDelete(@item.idProveedor)">
                                <i class="fas fa-trash"></i>Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para agregar un nuevo proveedor -->
<div class="modal fade" id="AgregarModificar" tabindex="-1" aria-labelledby="AgregarModificar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header encabezado-personalizado">
                <h1 class="modal-title fs-5" id="AgregarModificar">Agregar Proveedor</h1>
                <button type="button" class="btn-close" onclick="limpiarModal()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="formAgregarProveedor">
                    <!-- Campo de ID -->
                    <input type="hidden" id="id" name="id" value="" />

                    <!-- Campo de EsModificacion -->
                    <input type="hidden" id="esModificacion" name="esModificacion" value="false" />

                    <!-- Campo de Código -->
                    <div class="mb-3">
                        <label for="codigo">Código:</label>
                        <input type="text" required class="form-control" id="codigo" name="Codigo">
                    </div>

                    <!-- Campo de Nombre -->
                    <div class="mb-3">
                        <label for="nombre">Nombre:</label>
                        <input type="text" required class="form-control" id="nombre" name="nombre">
                    </div>

                    <!-- Campo de Dirección -->
                    <div class="mb-3">
                        <label for="direccion">Dirección:</label>
                        <input type="text" required class="form-control" id="direccion" name="direccion">
                    </div>

                    <!-- Campo de Teléfono -->
                    <div class="mb-3">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" required class="form-control" id="telefono" name="telefono">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="limpiarModal()" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="validarFormulario()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // Verifica si la operación fue exitosa
        @if (Model.exito)
        {
            <text>
                Swal.fire({
                    title: "¡Excelente!",
                    text: "El proveedor ha sido guardado correctamente.",
                    icon: "success",
                    confirmButtonText: "OK"
                });
            </text>
        }
    </script>

    <script type="text/javascript">
        // Verifica si la operación fue exitosa
        @if (Model.exito == false && Model.intentoRealizado)
        {
            <text>
                Swal.fire({
                    title: "Oops...",
                    text: "Hubo un error al guardar el registro, valide que el código o el nombre del proveedor no exista.",
                    icon: "error",
                    confirmButtonText: "OK"
                });
            </text>
        }
    </script>
}
