@page
@model SupportHub.Pages.Proveedor.mostrarProveedorModel
@{
    ViewData["Title"] = "Proveedores";
    Layout = "_Layout";
}
<br />

<link rel="stylesheet" href="~/css/estiloPantallas.css">

<div class="content-wrapper" style="max-width: 1300px; border-radius: 20px;">
    <h1>Gestión de Proveedores</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <form method="get">
                <div class="search-bar d-flex">
                    <input type="text" name="searchQuery" class="form-control me-2" placeholder="Buscar por código o nombre de proveedor..."
                           value="@Request.Query["searchQuery"]" oninput="checkSearch(this)" />
                    <button type="submit" class="btn"><i class="fas fa-search"></i>Buscar</button>
                </div>
            </form>

        </div>
        <div class="col-md-4 text-end">
            <a href="/proveedor/agregarProveedor" class="btn btn-add">
                <i class="fas fa-plus-circle"></i>Agregar Proveedor
             </a>
        </div>
    </div>

    <div>
        <table class="table table-hover align-middle text-center" style="max-width: 1300px; width: 100%;">
            <thead>
                <tr>
                   
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listaProveedor)
                {
                    <tr>
                        <td align="left">@item.codProveedor</td>
                        <td align="left">@item.nombreProveedor</td>
                        <td align="left">@item.direccionProveedor</td>
                        <td align="left">@item.telefonoProveedor</td>
                        <td>
                            <a class="btn btn-edit" href="/Proveedor/modificarProveedor?codProveedor=@item.codProveedor"><i class="fas fa-pen"></i>Modificar</a>
                            <a href="javascript:void(0);" class="btn btn-delete" onclick="confirmDelete(@item.idProveedor)">
                                <i class="fas fa-trash"></i>Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    <script src="/js/scriptPantalla.js"></script>
}
